

.we-serve-customer div{
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.we-serve-title-li span{
    color: rgb(1, 1, 41);
}






