.we-serve-customer-container{
    padding-left: 10%;
    padding-right: 10%;
}
.we-serve-customer-container ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.we-serve-customer-wrapper{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.we-serve-title{
    padding-left: 5%;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: rgb(1, 1, 41)
}

@media screen and (max-width: 700px){
    .we-serve-customer{
        margin-bottom: 60px;
    }
}