.our-founder-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    background-color: turquoise;
    padding-top: 30px;
    padding-bottom: 30px;
    color: rgb(1, 1, 41);
    
}

.our-founder-title{
    text-align: left;
}

.our-founder-title span{
    color: rgb(1, 1, 41);
    font-size: 20px;
    font-weight: bold;
}

.our-founder-content-container{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 60px;
    
}

.founder-image{
    width: 50%;
}

.meet-founder-para{
    width: 80%;
}

.meet-founder-name span{
    font-weight: bold;
}

.meet-founder-para p{
    font-weight: bold;
}

@media screen and (max-width: 700px){
    .our-founder-content-container{
        width: 90%;
        display: flex;
        flex-direction: row; 
        justify-content: center;
        align-items: flex-start;
        margin-top: 30px;
        flex-wrap: wrap;
    }
    .meet-founder-media-container ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .founder-image-li{
        margin-left: 0px;
        padding-left: 28%;
        padding-right: 28%;
    }
    .founder-image{
        width: 100%;
    }
}