.get-quote-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.get-quote-button button{
    background-color: black;
    border-style: none;
    font-weight: bold;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;

}

.get-quote-button{
    margin-bottom: 60px;
}
.get-quote-div{
    margin-top: 60px;
    margin-bottom: 30px;
}

.get-quote-div span{
    color: rgba(179, 35, 10, 0.986);
    font-size: 20px;
    font-weight: bold;
}
button:hover{
    cursor: pointer;
}