.header-container{
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px; 
    margin-bottom: 3.8%;
    border-bottom-style: solid;
    border-color: rgb(238, 232, 232);
    
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.header-row{
    display: grid;
    width: 90%;
    grid-template-columns: [first] 2fr [second] 2fr [third] 1.5fr [fourth] 1.5fr [fifth] 1.5fr [sixth] 1.5fr;
    font-weight: 400;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(1, 1, 41);
}

.nav-header{
    display: none;
}

@media screen and (max-width: 700px){
    .nav-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;

    }
    .header-row{
        display: none;
    }
    .menu-icon{
        padding-top: 10px;
        padding-bottom: 10px;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        line-height: 40px;
    }
    .header-image-container-1{
        display: flex;
        width: 45%;
        flex-direction: row;
        justify-content: center;
    }
    .header-image{
        width: 100%;
    }
    .nav-links{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.header-image-container{
    grid-column: first;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.about-link{
    grid-column: third;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.about-link span{
    flex-direction: row;
    justify-content: center;
}
.products-link{
    grid-column: fourth;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.blog-link{
    grid-column: fifth;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-link{
    grid-column: sixth;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
    color: rgb(1, 1, 41);
}