.hero-container{
    position: relative;
    width: 100%;
    margin-bottom: 30px; 
    background-color: blue;   
}

.image-container {
    width: 100%;
    padding-top: 20.4%;
    padding-bottom: 20.4%;
    background-size: cover;
    background-image: url('hero cropped.jpg');
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image-container span{
    opacity: 10%;
    transition: opacity 0.8s;
    color: rgba(179, 35, 10, 0.986);
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    height: 150px;
}

.image-container span:hover{
    opacity: 100%;
    transition: opacity 0.5s;
}