.home-two-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(179, 35, 10, 0.986);
    color: rgb(1, 1, 41);
    padding-bottom: 30px;
    padding-top: 30px;
}

.home-two-text {
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: cemter;
    align-items: flex-start;
}

.home-two-title {
    font-weight: bolder;
    margin-bottom: 12px;
}
li {
    list-style: none;
    text-align: left;
}

.home-two-content {
    font-size: 20px;
    
}