.home-one-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: rgb(1, 1, 41);
    font-size: 20px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.home-one-text-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    align-items: center;
}