.contact-panel{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(1, 1, 41);
}

.contact-info-container{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    line-height: 30px;
}
.contact-number{
    font-weight: bold;
}

.line-header{
    font-weight: bold;
    font-size: 20px;
    border-bottom-style: solid;
    border-bottom-color: rgb(1, 1, 41);
    border-bottom-width: 2px;
    width: 100%;
    margin-bottom: 20px;
}

.top-info{
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-info{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.bottom-left-div{
    margin-right: 20px;
}

.contact-form-panel{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 30px;
}

.show-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.contact-form-container{
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-radius: 2px;
}

div ul{
    padding-left: 20px;
}

.contact-form-container form{
    width: 100%;
}
input{
    width: 100%;
    height: 20px;
    border-color: rgb(1, 1, 41);
    border-radius: 2px;
}
textarea{
    width: 100%;
    height: 100px;
    border-color: rgb(1, 1, 41);
    border-radius: 2px;
    border-width: 2px;
}

br{
    margin-bottom: 50px;
}

button{
    background-color: black;
    font-weight: bold;
    font-size: 20px;
    color: lime;
    border-style: none;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 2px;
}