.our-products-container {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    padding-top: 30px;
}

.our-products-title-div{
    padding-left: 0;
    text-align: left;
}

.our-products-title-span{
    font-size: 20px;
    font-weight: bold;
    color: rgb(1, 1, 41);
}

.our-products-wrapper{
    display: flex;
    flex-direction: row;
    justify-items: center;
    width: 100%;
}

.our-products-content{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.view-products-button button{
    background-color: rgb(1, 1, 41);
    color: whitesmoke;
    border-style: none;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

button:hover{
    cursor: pointer;
} 

.our-products-para-container p{
    text-align: left;
    color: rgb(1, 1, 41);
    padding-left: 3%;
}