.product-cat-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    padding-right: 10px;
}
li {
    margin-bottom: 3.5px;
    margin-top: 3.5px;;
}
.cat-title{
    font-weight: bold;
}

.cat-desc{
    color: rgb(1, 1, 41);
    width: 300px;
}
.li {
    list-style: none;
    text-align: left;
}

.cat-image{
    width: 300px;
}
.cat-image img{
    width: 300px;
}

@media screen and (max-width: 700px){
    .product-cat-image-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .cat-desc{
        color: rgb(1, 1, 41);
        width: 100%;
    }
    .cat-image{
        width: 100%;
    }
    .cat-image img{
        width: 100%;
    }
}