.product-figure-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    background-color: rgba(255, 245, 238, 0.473);
    padding: 30px 30px 30px 30px;
    margin-bottom: 15px;
    border-style: outset;
    border-width: 2px;
    border-color: rgba(231, 161, 149, 0.986);
    border-radius: 5px;
}

.product-wrapper{
    margin-left: 0px;
    padding-left: 0px;
}
.product-wrapper ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    margin-left: 0px;
    padding-left: 0px;
    background-color: inherit;
}

.product-name{
    font-weight: bold;
    color: rgb(1, 1, 41);
}

.button-div button{
    background-color: rgb(72, 255, 0);
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    color: rgb(1, 1, 41);
    border-style: none;
    border-radius: 5px;

}
.product-desc{
    color: rgb(1, 1, 41);
}

.image-li {
    background-color: inherit;
}
.image-li img{
    width: 200px;
    height: 200px;
}

.product-info-li{
    margin-bottom: 15px;
    background-color: inherit;
    width: 200px;
}

.product-info-li span{
    text-align: center;
}

.after-sent-text span{
    color: rgba(179, 35, 10, 0.986);
    word-wrap: break-word;
}

.after-sent-text{
    width: 200px;
}