.product-cat-title-container{
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 30px;
}

.product-list-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-list{
    width: 100%;
}

.product-title-div{
    border-bottom-style: solid;
    border-bottom-color: black;
}

.product-list-ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.cat-title-div{
    width: 100%;
    padding-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-color: rgb(1, 1, 41);
    margin-bottom: 30px;
}

.cat-title-wrapper{
    text-align: left;
    font-weight: bold;
    color: rgb(1, 1, 41);
}