.categories-cat-title-container{
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
}

.page-title span{
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color: rgba(179, 35, 10, 0.986);
}

.categories-list-div{
    margin-bottom: 60px;
}