.blog-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.blog-container-ul-left{
    display: flex;
    flex-direction: column;
}

.blog-container-ul-right{
    display: flex;
    flex-direction: column;
}

.blog-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.blog-header-title{
    width: 80%;
    padding-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-color: rgb(1, 1, 41);
    border-bottom-width: 1px;
    margin-bottom: 10px;
}

.blog-header-title span{
    color: rgb(1, 1, 41);
    font-weight: bold;
    font-size: 25px;
}
